{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
    This is the cart Page. Proceed to review items and place an order.
{% endblock %}

{% block title %}
    Cart -
{% endblock %}

{% block content %}
    {% if not cart_items %}
    <div>
        <div class="text-center">
            <br>
            <h1 class="text-center my_title">BookVerse Cart</h1>
            <br>
            <P class="text-center">
                Please Click <a href="{% url 'shop:allProdCat' %}">Here</a> to continue.
            </P>
        </div>
    </div>
    {% else %}
    <div>
        <div class="text-center">
            <br>
            <h1 class="text-center my_title">BookVerse Cart</h1>
            <br>
        </div>
        <div class="row mx-auto">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <table class="table my_custom_table">
                    <thead class="my_custom_thead">
                    <tr>
                        <th colspan="5">Your Items</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                <a href="{{ cart_item.product.get_url }}">

                                    <img src="{{ cart_item.product.image.url }}" style="width: 150px; height: 150px; display: block; margin: 0 auto; padding: 10px;" alt="" class="float-left rounded custom_image">
                                </a>
                            </td>
                            <td class="text-lef">
                                {{ cart_item.product.name }}
                                <br>
                                SKU: {{ cart_item.product.id }}
                                <br>
                                Price: ${{ cart_item.product.price }}
                                <br>
                                Qty: {{ cart_item.quantity }} X ${{ cart_item }}
                            </td>
                            <td>
                                ${{ cart_item.sub_total }}
                            </td>
                            {% if cart_item.quantity < cart_item.product.stock %}
                            <td>


                                <a href="{% url 'cart:add_cart' cart_item.product.id %}" class="custom_a">
                                    <i class="fa-solid fa-plus custom_icon"></i>
                                </a>
                                <br>

                                <a href="{% url 'cart:cart_remove' cart_item.product.id %}" class="custom-b">
                                    <i class="fa-solid fa-minus custom_icon"></i>
                                </a>
                                <br>
                                &nbsp;
                                <a href="{% url 'cart:full_remove' cart_item.product.id %}" class="custom-b">
                                    <i class="fa-solid fa-trash custom_icon"></i>
                                </a>
                                &nbsp;
                            </td>
                            {% else %}
                            <td><br>
                                &nbsp;
                                <a href="{% url 'cart:cart_remove' cart_item.product.id %}" class="custom-b">
                                    <i class="fa-solid fa-minus custom_icon"></i>
                                </a>
                                <br>
                                &nbsp;
                                <a href="{% url 'cart:full_remove' cart_item.product.id %}" class="custom-b">
                                    <i class="fa-solid fa-trash custom_icon"></i>
                                </a>
                                <br>
                                &nbsp;
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <table class="table m_custom_table">
                <thead class="my_custom_thead">
                    <tr>
                        <th>
                            Checkout
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> Please review your order items before proceeding with the order payment.</td>
                    </tr>
                <tr>
                    <td class="text-left">
                        Your Total is <strong>{{ total }}</strong>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <button onclick="processPayment()" style="background-color: #4CAF50; /* Green */
                 border: none;
                 color: white;
                 padding: 15px 32px;
                 text-align: center;
                 text-decoration: none;
                 display: inline-block;
                 font-size: 16px;
                 margin: 4px 2px;
                 transition-duration: 0.4s;
                 cursor: pointer;
                 border-radius: 10px;">
    Pay Now
  </button>
  <script>
    function processPayment() {
      // In a real-world scenario, this is where you would integrate with a payment gateway
      alert('Payment option not available at the moment. Please try again after some time.');
      // Here, you would typically redirect the user to the actual payment page or show a modal for payment.
      // The actual implementation would depend on the payment provider you are using.
    }
  </script>
            </div>
            <div class="mx-auto">
                <a href="{% url 'shop:allProdCat' %}" class="btn btn-secondary btn-block my_custom_button"> Continue Shopping</a>
            </div>
        </div>
    </div>
    {% endif %}
    </div>
{% endblock %}
